* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: #ffdf50;
    color: #000;
    text-align: center;
  }
  
  header {
    background-color: #c2a52f;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .ear-image {
    width: 150px;
    height: auto;
  }
  
  #play-button {
    padding: 0.8em 2em;
    border: 2px solid black;
    border-radius: 30px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  #play-button:hover {
    background: #000;
    color: #fff;
  }
  button a {
    text-decoration: none;
    color: #000;
    color: inherit;
  }
.depoimento{
  display: flex;
  flex-direction: row;
  max-width: 600px;
  align-items: center;
  text-align: center;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  .container {
  display: flex;
  height: 100vh;
  align-items: center;
  padding-left: 50px;
}

.conteudo {
  max-width: 600px;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}
 .bloco {
  display: flex;
  height: 100vh;
  align-items: center;
  padding-left: 50px;
}

.texto {
  max-width: 600px;
  text-align: right;
}